# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3

# Media
media/

# VSCode
.vscode/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# Python environment folders
venv/
env/
